nav{
	margin-bottom: 5%;
}

body{
	padding-top: 41px;
}

a{
	text-decoration:none;
}

footer{
    border-bottom: 1px solid white;
}
.mapa{
	max-height: 100px;
}

.footer{
	padding-top: 10%;
}

.jumbotron{
	padding-bottom: 0;
}

.fa-twitter{
	color: #1DA1F2;
}

.fa-facebook-official{
	color: #3b5998;
}

.fa-whatsapp{
	color: #25D366;
}
.thumbnail img{
	height: 50%;
}

.thum{
	padding-top: 5%;
}

#slogan{
	text-align: center;
	padding-bottom: 2%
}

.jumbotron{
	padding-bottom: 0;
	margin-bottom: 0;
}
